.mainSection {
  background-color: #171d25;
  min-height: 100vh;
}

.mainSection .container {
  padding: 140px 40px 80px 40px;
}

.mainSection h1 {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 3px 3px 15px #16273c;
  margin-bottom: 20px;
}

.flexContent {
  display: flex;
  flex-wrap: wrap;
}

.flexContent .col_1 {
  width: 75%;
}

.flexContent .col_1 .about {
  padding-right: 60%;
}

.flexContent .col_2 {
  width: 25%;
  display: flex;
  align-items: flex-end;
}

.flexContent .col_2 .content {
  padding-left: 20px;
}

.flexContent .col_2 p {
  padding-right: 10%;
}
