.mainSection {
  background-image: url(../../images/rings.svg);
  background-color: #171d25;
  background-position: 500px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  position: relative;
}

.mainSection .overlay {
  background-image: url(../../images/man.webp);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.mainSection .mainOverlay {
  background-attachment: fixed;
  opacity: 0.75;
  mix-blend-mode: overlay;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  background-position: 34vw -41px;
  background-size: cover;
}

.mainSection .manCenter {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  background-position: top center;
  background-size: contain;
  z-index: 0;
}

.mainSection .container {
  padding: 100px 40px 0px 40px;
}

.mainSection h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 3px 3px 15px #16273c;
  margin-bottom: 20px;
}

.boxSection {
  position: relative;
  padding: 40px 0px 80px 0px;
}

.flexContent {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.flexContent .col_1 {
  width: 75%;
}

.flexContent .col_1 .about {
  padding-right: 60%;
}

.flexContent .col_2 {
  width: 25%;
  display: flex;
  align-items: flex-end;
}

.flexContent .col_2 .content {
  padding-left: 20px;
}

.flexContent .col_2 p {
  padding-right: 10%;
}

@media screen and (max-width: 1024px) {
  .mainSection {
    background-position: 290px 9px;
  }

  .mainSection .mainOverlay {
    background-position: 0 0;
  }

  .mainSection .manCenter {
    background-position: 314px 0px;
  }

  .flexContent .col_1 {
    width: 90%;
  }

  .flexContent .col_2 {
    width: 100%;
  }

  .mainSection .container {
    padding: 80px 0px 0px 30px;
  }

  .boxSection {
    padding: 0;
  }
}
