.containerTitle {
  display: flex;
}

.containerTitle h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 20px;
}

.orangeBar {
  background-image: url("../../images/divider.jpg");
  width: 48px;
  height: 16px;
  background-size: cover;
}
