.containerTitle {
  display: flex;
}

.containerTitle h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 20px;
}

.orangeBar {
  background-image: url("../../img/divider.svg");
  width: 48px;
  height: 15.3px;
  background-size: 16px 15.3px;
  background-repeat: repeat;
  background-color: #d54d07;
}
