/* Global Styles */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato-Regular.ttf") format("ttf"),
    url("../fonts/Lato-Regular.eot") format("eot");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff"),
    url("../fonts/Lato-Bold.ttf") format("ttf"),
    url("../fonts/Lato-Bold.eot") format("eot");
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  color: #dadada;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  word-wrap: break-word;
}

.container {
  max-width: 1140px;
  margin: auto;
}

p {
  line-height: 1.5;
  margin-bottom: 1.5em;
}

a {
  color: #1e73be;
  transition: all 0.3s;
}

a:hover {
  color: #000000;
}
