.secondarySection {
  background-color: #131920;
  position: relative;
}

.secondarySection .container {
  position: relative;
  padding: 120px 40px 120px 40px;
}

.secondarySection .overlay {
  background-image: url(../../images/rings.svg);
  background-position: 30vw -67px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: 0.05;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.secondarySection .content {
  width: 50%;
}

.secondarySection .contactInfo {
  margin-top: 10px;
  padding-right: 40px;
}

@media screen and (max-width: 1024px) {
  .secondarySection .container {
    padding: 90px 30px 90px 30px;
  }

  .secondarySection .overlay {
    background-position: 0 0;
  }
}

@media screen and (max-width: 767px) {
  .secondarySection .container {
    padding: 30px;
  }

  .secondarySection .content {
    width: 100%;
  }

  .secondarySection .contactInfo {
    padding-right: 0;
  }
}
