.navbar {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.navbar .container {
  padding: 20px 40px;
}

.navbar p {
  margin: 0;
}

.mainTitle {
  font-size: 25px;
  color: white;
  line-height: 1.2em;
  word-wrap: break-word;
  font-weight: 700;
  text-transform: none;
}

.siteDescription {
  color: #757575;
  line-height: 1.5;
  font-weight: 400;
  text-transform: none;
  font-size: 15px;
}